
@charset "utf-8";

/* -------------------------------------------------------------- 
	Resets default browser CSS.
-------------------------------------------------------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input
{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
table, caption, tbody, tfoot, thead, tr, th, td
{margin:0;padding:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;font-family:"microsoft yahei";}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}
input {border:none;}
ul{list-style:none;}
label{/*cursor:pointer;*/color:#666;}

body {font-size:75%;color:#222;font-family:Helvetica, Arial,"microsoft yahei", sans-serif;position:relative;}
h1, h2, h3, h4, h5, h6 {font-weight:bold;color:#000;}
/*----- 2012��10��23�� ���ڴ���ͷ�ı�����ƻ��������µ���ʽʶ��������Ǹ�������  maqt  ��ʼ -----*/
h1 {font-size:36px;font-family:"microsoft yahei", sans-serif;}
/*----- ���� -----*/
h2 {font-size:45px;float:left;color:#CCC;margin-top:10px;font-weight:normal;}
h3 {font-size:16px;margin:8px 0;margin:8px 0 7px\0;color:#000;}
h4 {font-size:14px;margin:8px 0;color:#666;}
h5 {font-size:12px;margin:8px 0;color:#666;}
h6 {font-size:12px;margin:8px 0;}


h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {color:#666;}
a:focus, a:hover {text-decoration:underline;}
a {
color:#666;
text-decoration:none;
cursor:pointer;
blr:expression(this.onFocus=this.blur());/*ie ȥ�����������߿� */
outline:none;/*ff ȥ�����������߿� */
}
span{color:#666;}
textarea{overflow:hidden;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}

input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}





input.text, input.title, textarea, select {margin:0 0;border:1px solid #dedede;font-size:12px;color:#666;font-family: Helvetica,Arial,"����",sans-serif;}
select{width:120px;float:left;padding:2px;height:25px;line-height:25px;}
    input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    border: 1px solid #CCC!important;
    }

/*-------------------------- 2013-01-12 ������ʽΪ��׼�泣����ʽ maqt ��ʼ -------------------------*/

/*--------------------base  css maqt start-------------------*/
.right{float:right !important;}
.row {float:left; width:100%;}
.left{float:left !important;}
.clear{clear:both;}
.overflow_hidden{overflow:hidden;clear:both;}
.display_block{display:block;}
.postion_relative{position: relative;}
.cursor_pointer{cursor: pointer!important;}
.bg_image_none{background-image: none !important;}
.text_overflow{overflow: hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}

.border_bottom{border-bottom:solid 1px #DEDEDE;}
.border_bottom_dash{border-bottom:dashed 1px #DEDEDE;}
.border_top{border-top:solid 1px #DEDEDE;}
.noborder{border:none !important;}
.border_top_none{border-top: none !important;}
.border_bottom_none{border-bottom: none !important;}

.margin_left_none{margin-left:0 !important;}
.margin_right_none{margin-right:0 !important;}
.margin_bottom_none{margin-bottom:0 !important;}
.margin_top_none{margin-top:0 !important;}
.margin_top_4{margin-top: 4px;}
.margin_top_2{margin-top: 4px;}
.margin_top_7{margin-top: 7px;}
.margin_top_17{margin-top: 17px;}
.padding_bottom_none{padding-bottom:0 !important;}


.graybold {font-weight:bold;}
.black{color:#000 !important;}
.blackbold {font-weight:bold;color:#000 !important;}
.black_333{color:#333333!important;}
.gray_666{color:#666666!important;}
.lightgray{color:#999 !important;}
.lightgray *{color:#999;}
.lightgray_ccc{color: #ccc;}


a.highlight, .highlight, .highlight a,a.blue{font-weight:normal;}
a.highlightheader{font-weight:bold;font-size:14px;}
a.bluebold, .bluebold ,a.navbar_titer{font-weight:bold;}


span.red {color:red;}
.script_red{color: #de0000 !important;}
.orange{color:#f17842!important;}


.green{font-weight:normal;color:#390 !important;}
.greenbold{color:#390;font-weight:bold;}

/*--------------------base css   maqt  end-------------------*/


/*--------------------templet.css maqt start------------------*/

/*----- 3.������ɫ ��ʼ -------*/
body{
	background-image:url(../image/login_bg_01.png);
	box-sizing: border-box;
}
a.highlight, .highlight, .highlight a{color:#09C !important;}
a.highlightheader{color:#09C;}
a.blue{color:#09C;}
a.bluebold, .bluebold ,a.navbar_titer{color:#09C;}
.dark_blue{color: #00607f !important;}
/*------- 3.������ɫ ����----------*/

/*--------------------templet.css maqt end-----------------*/
/*------------内容页头部 开始---------------*/
.header_01{
width: 100%;
height: 64px;
position: relative;
z-index: 100;
box-shadow:0 0 5px #888;
background:#01559d;
background-position: 86% 0;
background-image:url(../image/school_logo_bg.png);
background-repeat:no-repeat;
}
.header_01_space{
width: 1200px;
height: 64px;
margin: 0 auto;
position:relative;
}
.letter{
	width: 743px;
	height: 23px;
	background:url(../image/letter_bg.png) no-repeat;
	position:absolute;
	left:-45px;
	top:41px;
}
.header_01_logo{
float: left;
height: 64px;
margin: 0;
z-index: 999;
position: relative;
}
.loginpage_head_line {
float: left;
background: url(../image/nb_line.png) no-repeat scroll 0 0 transparent;
width: 12px;
height: 24px;
margin: 22px 0 0 15px;
}
.loginpage_head_point {
float: left;
width: 3px;
height: 3px;
margin: 29px 0 0;
border-radius:2px;
background-color:#fff;
}
.loginpage_head_txt {
float: left;
height: 64px;
line-height: 69px;
margin: 0 0 0 10px;
color: #fff;
font-size: 18px;
}
.loginpage-letter{
	float: left;
	color:#fff;
	height: 64px;
line-height: 69px;
margin-left:20px;
}
.header_01_help,.header_01_right_text{
float: right;
height: 64px;
line-height: 66px;
font-size:14px;
padding: 0 0 0 0;
margin: 0 0 0 0;
color: rgba(255,255,255,0.8);
cursor: pointer;
}
.header_01_right_text >span{
	margin-left:10px;
	color: rgba(255,255,255,0.8);
}
.header_01_right_text >span:first-child{margin-left:0;}
.header_01_help {
background: url(../image/question_mark_icon.png) scroll no-repeat 0 25px transparent;
}
.header_mini_help {
padding:0 0 0 20px;
margin:3px 0 0;
background: url(../image/question-circle.png) scroll no-repeat 0 1px transparent;
display:none;
background-size:14px;
}
.header_visit_count{
float: right;
height: 20px;
line-height: 20px;
margin: 37px 14px 0 0;
color: #999;
}
/*------------内容页头部 结束---------------*/
/*------------脚部 开始--------------*/
#footer{
width: 100%;
height: 80px;
padding: 0 0 0 0;
position:fixed!important;
bottom: 0;
left:0;
border-top:1px solid #c7c7c7;
background:#dfdfdf;
}
#footer-mobile{
	display:none;
}
#footer.find-password-footer{
	height:80px;
}
#footer.footer-login{height:43px;}
#footer.footer-login .footer-inside-bar{height:33px;padding:10px 0 0;
	
}
.qr-box{
	float:right;
	width:300px;
	margin:5px 0 0;
}
.qr-box img{
	float:right;
}
.qr-box span{
	float:right;
	margin:50px 0 0;
	font-size:;
	text-align:right;
}
.footer-inside-bar {
width: 1200px;
height: 78px;
clear: both;
margin: auto;
background: none;

}
.footer_bar{
	float:left;
	margin-top:3px;
	width: 645px;
	}
.footer_right{
	float:right;
	margin-top:3px;
}
.foot_line{
	float:left;
	margin:0 9px 0 0;
	line-height:18px;
	*line-height:16px;
	}
/*------------脚部 结束--------------*/

/* 登录页 开始 */

.mid_container{
width: 100%;
float:left;
}
.mid_container_content{
width: 100%;
min-width: 1000px;
height: 515px;
margin: 0 auto;
}
.container_space{
width: 1200px;
margin: 0 auto;
}
.content_login_box{
float: right;
width: 296px;
border: 1px solid #dedede;
border-radius: 3px;
margin: 20px 30px 20px 0;
background-color:#fff;
}
.content_login_box.dont_has_identifying_code{
	margin: 45px 30px 15px 15px;
}
.login_box_up{
float: left;
width: 100%;
padding-bottom: 10px;
}
.login_box_title{
float: left;
width: calc(100% - 26px);
margin: 10px 0 0 26px;
}
.login_box_title_name{
float: left;
height: 20px;
font-family: "microsoft yahei";
font-size: 14px;
font-weight: bold;
}

.login_box_title_notice {
float: left;
margin: 0 0 0 0px;
width: 184px;
}
.login_box_input{
float: left;
width: calc(100% - 95px);
height: 34px;
line-height: 34px;
padding: 0 10px 0 33px;
border: 1px solid #dedede;
font-size: 14px;
color: #999;
border-radius:3px;
}
.codeimage_input{
float: left;
width: calc(100% - 155px);
height: 34px;
line-height: 34px;
padding: 0 10px 0 10px;
border: 1px solid #dedede;
font-size: 14px;
color: #999;
border-radius:3px;
overflow:hidden;
}
.codeimage{
	height: 34px;
line-height: 34px;
float:right;
border-radius:3px;
border: 1px solid #dedede;
width:95px;
margin:0 25px 0 0;
	}
.person{
	margin: 4px 0 4px 26px;
	background:url(../image/person.png) 10px 0 no-repeat;
}
.lock{
	margin: 6px 0 4px 26px;
	background:url(../image/lock.png) 10px 0 no-repeat;
}
.down_link_choice{
float: left;
width: calc(100% - 52px);
margin: 13px 0 0 26px;
}
.login_box_checkbox{
float: left;
width:14px;
height:14px;
position:relative;
margin: 1px 6px 0 1px;
*margin-top: -1px;
}
.login_box_checkbox_label{
float: left;
height: 18px;
line-height: 18px;
color: #999;
}
.login_box_sepline{
float: left;
height: 18px;
line-height: 18px;
*line-height: 14px;
_line-height: 14px;
color: #999;
margin: 0 8px;
}
.login_box_psd{
float: right;
height: 18px;
line-height: 18px;
color: #01559d;
}
.landing_btn_bg{
float: left;
background: url(../image/login_box_landing_btn.png) scroll no-repeat 0 0 transparent;
width: 159px;
height: 40px;
margin: 10px 0 0 70px;
}
.login_box_landing_btn{
float: left;
background: transparent;
width: 157px;
height: 40px;
cursor: pointer;
}
.login_box_down{
float: left;
width: 244px;
border-top: 1px solid #ece8e8;

margin: 4px 0 0 27px;
padding:10px 0;
box-sizing: border-box;
}
.dit-line{float:left;
width:100%;
border-bottom: 1px solid #ece8e8;
margin:10px 0 3px;
}
.logo-inside{
	float:left;
	text-align:center;
	margin:20px auto 0;
	width:100%;
	
}
.ide_code{
float: left;
width: calc(100% - 21px);
margin: 16px 0 0 21px;
}
.ide-code-box{
float: left;
width: calc(100% - 25px);
margin: 6px 0 0 25px;
}
.ide_code_label{
float: left;
width: 48px;
height: 28px;
line-height: 28px;
text-align: right;
color: #999;
}
.ide_code_input{
float: left;
width: 54px;
height: 26px;
line-height: 26px;
border: 1px solid #dedede;
padding: 0 5px;
}
.ide_code_image{
float: left;
width: 98px;
height: 32px;
border: 1px solid #dedede;
margin: 0 0 0 8px;
}
.ide_code_next{
float: left;
height: 18px;
line-height: 18px;
color: #09c;
margin: 4px 0 0 8px;
white-space: nowrap;
}
.login_box_notice{
float: left;
width: 100%;
line-height: 22px;
padding: 0 0 6px;
box-sizing:border-box;
}
/* 登录页 结束 */
.footer_link{
	float:left;
	line-height:18px;
	line-height:*16px;
	}
/*登陆页tab*/


.landing_btn_bg{
float: left;
background-image:none;
background-color:#01559d;
width: calc(100% - 52px);
height: 38px;
cursor: pointer;
border:1px solid #01559d;
font-size:18px;
border-radius:6px;
margin: 10px 0 0 26px;
color:#fff;
text-align:center;
position:relative;
line-height:36px;
}
.login_box_landing_btn{
float: left;
background: transparent;
width: 100%;
height: 38px;
cursor: pointer;
font-family:"Microsoft YaHei";
font-size:18px;
border-radius:6px;
position:absolute;
left:0px;
top:0px;

}
.login_logo_box {
	width:205px;
	height:40px;
	background-image:url(../image/logo_box_bg.png);
	float:left;
	}

/*2017-03-27 登陆页调整-maqt-START*/
.login_box_tab {
	width:100%;
	height:47px;
	float:left;
	background-image:url(../image/content_login_box_bg.png);
	border-radius:3px 3px 0 0;
}
.login_box_tab a{
	width:100%;
	height:46px;
	text-align:center;
	border-bottom:1px solid #dedede;
	display:block;
	float:left;
	line-height:48px;
	background-color:#f5f6f7;
	cursor:pointer;
	font-family:"Microsoft YaHei UI";
	font-size:15px;
	text-decoration:none;
	font-weight:bold;
	color:#69696b;
	
}
.login_box_tab a:hover{
	text-decoration:none;
	
	}
.login_box_tab a.active{
	height:47px;
	border-bottom:none;
	background:none;
	}
.login_box_tab a.active:hover{
	cursor:auto;
}
.login_box_tab .password{
	width:50%;
	border-radius:3px 0 0 0;
	}
.login_box_tab .er-code span{
	width:100%;
	border-left:1px solid #dedede;
	border-radius:0 3px 0 0;
	display:block;
	height:100%;
	}
.login_box_tab .er-code{
	width:50%;
	border-radius:0 3px 0 0;
	overflow:hidden;
	}

.login_tab_box{
	margin-top:16px;
	width:100%;
	float:left;
	}
.er_code_title{
	font-size:16px;
	line-height:20px;
	font-family:"Microsoft YaHei UI";
	width:100%;
	clear:both;
	text-align:center;
	color:#666;
	margin:50px 0 0;
	}
.er_code_box{
	width:100%;
	text-align:center;
	margin: 0 auto;
	}
.er_code_text{
	font-size:12px;
	line-height:22px;
	height:22px;
	width:100%;
	
	margin:10px auto 12px auto;
	
	color:#666;
	text-align:center;
	}

.authorization_phone{
	font-family:"Microsoft YaHei UI";
	color:#666;
	font-size:14px;
	line-height:34px;
	height:34px;
	float:left;
	margin:39px 0 0 21px;
	}

.help{
	color:#01559d;
	margin:27px auto 0 auto;
	font-size: 14px;
	clear:both;
	display:block;
	width:300px;
	text-align:center;
}
.help-02{
	color:#01559d;
	margin:20px auto 0 auto;
	font-size: 14px;
	clear:both;
	display:block;
	width:100%;
	box-sizing:border-box;
	padding:0 26px;
	text-decoration: none;
	text-align:left;
}
/*焦点图*/
.login_banner{
	float:left;
	width:715px;
	height:515px !important;
	margin-left:40px;
}
.login_banner .swiper-slide img{width:100%;}
.login_box_title .name{
	display:none;
	font-size: 14px;
	color:#999;
}
.login_box_title .qa_box{
	padding:0 0 0 17px;
	display:none;
	font-size: 12px;
	color:#999;
	background-image:url(../image/question_mark_icon_m.png);
	height:20px;
	line-height:20px;
	background-position:0 3px;
	background-repeat:no-repeat;
	background-size:auto 12px;
	margin:1px 0 0 0;
	
}
.footer-mobile{display:none;}
/*2017-03-27 登陆页调整-maqt-END*/

.login_box_bigtit{
	font-size:14px;
	font-weight:bold;
	line-height:24px;
	float:left;
	margin:10px 0 0 25px;
	}
.swiper-pagination-bullet-active{
	background:rgba(0,0,0,0.5)!important;
	}
.swiper-pagination-bullet{
	width:10px!important;
	height:10px!important;
	border-radius:5px!important;
	}
.qq{
	float: left;
	background:url(../image/qq.png) no-repeat;
	height:20px;
	line-height:18px;
	padding-left:23px;
	margin:0 0 0 70px;
}
.qq_line{
	height:12px;
	border-left:1px solid #cfcbcb;
	float: left;
	margin:3px 10px 0;
}
.wx{
	float: left;
	background:url(../image/wx.png) no-repeat;
	height:20px;
	line-height:18px;
	padding-left:23px;
}
.qq:hover,.wx:hover{
	text-decoration:none;
}
.zh-en {
    float: right;
    color: rgba(255,255,255,0.8);
    height: 30px;
    box-sizing: border-box;
    width: 100px;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 6px;
    line-height: 28px;
    font-size: 14px;
    font-family: "microsoft yahei";
    padding: 0 0 0 8px;
    margin: 17px 20px 0 20px;
	text-decoration:none;
}
.zh-en:hover{
	background-color:rgba(255,255,255,0.8);
	text-decoration:none;
	color:#666;
}
.zh-en:hover .pic {
    background: url(../image/zh-en-hover.png) no-repeat center center;
}
.zh-en .pic {
    background: url(../image/zh-en.png) no-repeat center center;
    width: 28px;
    height: 28px;
    float: left;
    display: block;
}
@media screen and (max-width:1360px){
	#footer{
		float: left;
		position: static!important;
	}
}

@media screen and (max-width:1230px){
	.header_01_space{
		width: 100%;
	}
	.header_01_logo{margin-left:10px;}
	.header_01_help{
		margin-right:20px;
	}
	#footer{
		float: left;
		width: 100%;
		margin-top:40px; 
	}
	.footer-inside-bar{
		width: 100%;
	}
	.footer_bar{
		margin-left:10px;
	}
	.footer-inside-bar .right{
		margin-right:10px;
	}
	
	.content_login_box{
		margin-right:20px;
	}
	.container_space{
		width: 100%;
	}
}

@media screen and (min-width:1440px){
	.login_banner{
		/*max-width:1080px;*/
		max-height:80%;
		margin-left:20px;
		width:calc(100% - 417px);
		height:auto!important;
	padding: calc(50vh - 282px) 0 0;}

	.login_banner ul{
		width:100%;
	}
	.login_banner ul li{
		width:100%;
	}
	.login_banner img{
		/*max-width:1080px;*/
		height:auto;
		width:100%;
	}
	.header_01_space{
		background:none;
	}
	.container_space{
	width:calc(100% - 300px);
	}
	.header_01_space{
	width:calc(100% - 300px);
	}
	.footer-inside-bar {
	width:calc(100% - 300px);
	}
} 
@media screen and (min-width:1821px){
	.login_banner{
		/*max-width:1080px;*/
		max-height:80%;
		margin-left:40px;
		width:calc(100% - 580px);
		height:auto!important;
	padding: calc(50vh - 388px) 0 0;}
	.content_login_box{
		margin:150px 70px 0 0;
		transform: scale(1.2);
    -ms-transform:scale(1.2);     /* IE 9 */
    -moz-transform:scale(1.2);     /* Firefox */
    -webkit-transform:scale(1.2); /* Safari 和 Chrome */
    -o-transform:scale(1.2);
	}
	.login_box_tab a{font-weight:normal;}
	.login_box_checkbox{margin:2px 6px 0 1px;}
}
@media screen and (min-width:2120px){
	.login_banner{
		/*max-width:1080px;*/
		max-height:80%;
		width:calc(100% - 1180px);
		height:auto!important;
	}
	
}

@media screen and (max-width: 480px){
.content_login_box {
    margin-top:0!important}
}

@media screen and (min-width:5020px){
	.login_banner{
		/*max-width:1080px;*/
		max-height:80%;
		margin-left:20px;
		width:calc(100% - 1980px);
		height:auto!important;
	}
}
@media screen and (max-width:1157px){
	.login_banner{
		max-width:680px;
		margin-left:0px;
	}
	.login_banner img{
		max-width:680px;
		height:auto;
	}
	.header_01_space{
		background:none;
	}
	.content_login_box{
		margin-top:20px;
	}
}
@media screen and (max-width:1100px){
	.content_login_box{width:320px;
		}
	}
/*@media screen and (max-width:1082px){
	.content_login_box{width:320px;
		}
	.zh-en {margin-top:10px;}
	.header_01_help, .header_01_right_text{height: 24px;line-height: 24px;margin-right:20px;}
	}*/
@media screen and (max-width:1023px){
	.qr-box{
	float:none;
	width:300px;
	margin:15px 0 0;
	margin:0 auto;
	text-align:center;
}
.qr-box img{
	float:none;
	margin:10px auto 0;
	display:block;
}
.qr-box span{
	float:right;
	width:100%;
	margin:5px 0 0;
	font-size:;
	text-align:center;
}
	.ide-code-box{margin:6px 0 6px;width:100%;}
	.codeimage_input{
	width: calc(100% - 135px);
	}
	.codeimage{margin:0;}
	.lock{margin:10px 0 0;}
	.qq{margin-left:calc(50% - 75px);}
	.qq_bar{margin:15px 0 0;
		}
	#myFocus{display:none;}
	#footer{background:#dfdfdf;}
	.ide_code{margin: 16px 0 0 0;}
	.header_01{height:101px;}
	.letter,.loginpage-letter,.header_01_help,
	.loginpage_head_line,.loginpage_head_txt,.mF_classicHC_wrap,.loginpage_head_point,
	.footer_bar,.footer-inside-bar .right{display: none;}
	.login_box_tab{width: calc(100% + 40px);margin: 0 -20px;}
	.header_01_space{height:101px;}
	.header_01_logo{margin-left:20px;margin-top:20px;}
	.zh-en{margin:40px 20px 0 0;float:right;}
	.header_01_right_text{height:30px;line-height:30px;color:#666;padding:0 10px;width:100%;box-sizing:border-box;margin:30px 0 0;}
	.header_01_right_text >span{color:#666;}
	.header_01_right_text >span:first-child{margin:0;}
	.content_login_box{padding-bottom:0;margin:20px 15px 0;float: left;width:calc(100% - 30px);border-radius:6px;}
	.login_box_up{width: 100%;padding:0 25px;box-sizing:border-box;border-radius:6px;}
	.login_box_input{width: calc(100% - 45px);margin-left:0;}
	.down_link_choice{width: 100%;padding:0 0;margin-left:0;}
	.landing_btn_bg{width: 100%;box-sizing:border-box;margin-left:0px;margin-top:21px;}
	.login_box_title{margin:15px 0 0;width: 100%;}
	.login_box_bigtit{display:none;}
	.login_box_title .name{display:block;float: left;}
	.login_box_title .qa_box{display:block;float: right;}
	.login_box_title_notice{width:100%;float: right;margin-top:3px;}
	.down_link_choice{margin-top:8px;}
	
	.footer-mobile{display:block;}
	#footer{height:41px;margin-top: 40px;}
	.footer-inside-bar{height:41px;}
	.footer-mobile{width: 100%;text-align:center;line-height:41px;}
	#footer.footer-login .footer-mobile{width: 100%;text-align:center;line-height:21px;}
	.login_box_down{width:100%;width: 100%;padding: 0 25px;box-sizing: border-box;margin:0;}
	.footer_right {display:none;}
	.login_box_down{border:0;margin-top:4px;margin-bottom:9px;}
	.login_box_notice{width: 100%;}
	.login_box_notice .title{margin-bottom:2px;}
	.login_box_title .header_mini_help {display:block;}
	.browser{display:none;}
}
/***********upgrade your browser***start*************/
.header_02{
background-color: #fff;
width: 100%;
min-width: 1000px;
height: 83px;
position: relative;
z-index: 100;
border-bottom: solid 1px #dedede;
padding-top:14px;
}
.upgrade_content {
	width:990px;
	margin:0 auto;}
.upgrade_con_01 {
	width:100%;
	border-bottom:1px solid #dedede;
	}
.upgrade_con_left {
	width:600px;
	float:left;
	}
.upgrade_con_right {
	width:390px;
	float:right;
	}
.upgrade_tit_01 {
	font-size:40px;
	font-family:"Microsoft YaHei";
	line-height:70px;
	height:70px;
	margin-top:23px;
	color:#333;
	}
.upgrade_text_01 {
	font-size:40px;
	font-family:"Microsoft YaHei";
	line-height:24px;
	font-size:14px;
	height:51px;
	color:#666666;
	padding:9px 10px;
	background-color:#f9f9f9;
	border-radius:6px;
	border: 1px solid #eee;
	margin:15px 0 0;
	}
.upgrade_text_02 {
	font-family:"Microsoft YaHei";
	line-height:24px;
	font-size:18px;
	color:#333;
	margin:35px 0 0;
	}
.upgrade_text_03 {
	font-family:"Microsoft YaHei";
	line-height:22px;
	font-size:14px;
	color:#666;
	margin:11px 0 0;
	}
.upgrade_text_04 {
	font-family:"Microsoft YaHei";
	line-height:34px;
	font-size:24px;
	color:#333;
	margin:12px 0 0;
	}
.upgrade_text_05 {
	font-family:"Microsoft YaHei";
	line-height:22px;
	font-size:14px;
	color:#666;
	margin:11px 0 0;
	}
.upgrade_pic_box {
	width:100%;
	}
.upgrade_pic {
	height:216px;
	width:132px;
	float:left;
	padding:34px 33px 0;
	}
.Chrome_text_01 {
	width:100%;
	text-align:center;
	margin-top:1px;
	}
.Chrome_text_01 a{
	font-size:14px;
	font-family:"Microsoft YaHei";
	color:#09c;
	line-height:22px;
	}
/***********upgrade your browser***end***************/

/*****************360 and ie***start*****************/
element.style {
    position: relative;
}
.new_student {
    color: #666;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    line-height: 18px;
    margin: 7px 0 0;
    padding: 0 0;
    width: 259px;
    floa:left;
}

.new_student a {
    color: #01559d;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    line-height: 18px;
}

.b_360 {
    display: none;
    left: -475px;
    position: absolute;
    top: -85px;
    z-index:1000;
}


.browser {
    color: #666;
    float: left;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    padding: 5px 0 0;
    width: 280px;
}

.browser a {
    background-repeat: no-repeat;
    color: #666;
    float: left;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 0 10px;
    padding: 0 0 0 25px;
}
.ie_pic {
    background-image: url("../image/ie-pic.png");
}

.browser a {
    background-repeat: no-repeat;
    color: #666;
    float: left;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 0 10px;
    padding: 0 0 0 25px;
}
.firefox_pic {
    background-image: url("../image/firefox-pic.png");
}

.browser a {
    background-repeat: no-repeat;
    color: #666;
    float: left;
    font-family: "Microsoft YaHei UI";
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin: 0 0 0 10px;
    padding: 0 0 0 25px;
}
.google_pic {
    background-image: url("../image/google-pic.png");
}
@media screen and (max-height:650px){
	#footer{position:relative!important;bottom:auto;float:left;}
}
@media screen and (max-width:500px){
.header_01_logo{margin-top:10px;width: 180px;}
.zh-en{margin:28px 20px 0 0;float:right;}
.header_01_right_text{height:30px;line-height:30px;color:#fff;float:left;padding:0 20px;width:100%;box-sizing:border-box;margin:-11px 0 0;font-size: 14px;text-align: center;color: rgba(255,255,255,0.8);}
.header_01_right_text >span{color:#666;}
.header_01_right_text >span:first-child{margin:0;}
.header_01_logo >img{width:100%;}
}
/******************360 and ie***end******************/
.login_code {
    float: left;
    width: 153px;
    height: 153px;
    margin: 15px 0 0 calc(50% - 76.5px);

}
.login_code_notice {
    float: left;
    width: 100%;
    text-align: center;
    margin: 13px 0 0 0;
    color: #666;
    padding-bottom: 6px;
}
.b_360 {
    display: none;
    left: -475px;
    position: absolute;
    top: -205px;
}
a.open_360:hover .b_360{display:block;}
.msg_box_01 {
	color:#940000;
	background-color:#fcbbbc;
	border:1px solid #c2504a;
	border-radius:5px;
	padding:0 10px;
	height:38px;
	line-height:38px;
	float:left;
	position:absolute;
	right:0px;
	box-shadow:3px 3px 3px 0 rgba(6, 0, 1, 0.05);
	}